            <hr />
            <div class="row">
                <div class="span16 columns">
                    <p>
                        <small>
                            &copy; Rafał Filipek {{ 'now'|date('Y') }}
                            <br />
                            {{ app.translator.trans('global.built_with') }} 
                            <a href="http://silex-project.org" title="{{ app.translator.trans('global.link_go_to', {'%link%':'silex-project.org'}) }}">Silex</a>,
                            <a href="http://twitter.github.com/bootstrap/" title="{{ app.translator.trans('global.link_go_to', {'%link%':'twitter.github.com/bootstrap'}) }}">Twitter Bootstrap</a>,
                            <a href="http://lesscss.org" title="{{ app.translator.trans('global.link_go_to', {'%link%':'silex-project.org'}) }} lesscss.org">Less</a>,
                            <a href="http://jashkenas.github.com/coffee-script" title="{{ app.translator.trans('global.link_go_to', {'%link%':'jashkenas.github.com/coffee-scrip'}) }}">CoffeeScript</a>,
                            <a href="http://jquery.com" title="{{ app.translator.trans('global.link_go_to', {'%link%':'jquery.com'}) }}">jQuery</a> &amp;
                            <a href="http://twig-project.org" title="{{ app.translator.trans('global.link_go_to', {'%link%':'twig-project.org'}) }}">Twig</a>.
                        </small>
                    </p>
                </div>
            </div>
        </div>

        {% include '_bookmark-widget.twig' %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="public/js/scripts.js"></script>
    </body>
</html>
